--- # Main sass file --- @charset "utf-8";
// Our variables
$base-font-family: "Roboto Condensed", sans-serif;
$base-font-size: 18px;
$head-font-family: "Oswald", sans-serif;
$turquoise: #29a09b;
$turquoise-dark: darken($turquoise, 12.5%);
// Move down content and landing page cover picture
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/img/codeclubcover.jpg);
    background-position: 30% 60%;
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
