/* Navbar settings */

// Change navbar-brand font and color
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  font-family: $head-font-family;
  font-size: $base-font-size * 1.5;
  color: $turquoise;
}

// Set links
.navbar-default .navbar-nav > li > a {
  font-family: $base-font-family;
  color: $turquoise;
}

// Change on hover or focus
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar > .container .navbar-brand:hover,
.navbar > .container-fluid .navbar-brand:focus {
  color: $turquoise-dark;
}

