/* Banner settings */

// Jumbotron image
.jumbotron-banner {
	background-image: url(/img/codeclubcover.jpg);
	background-position: 60% 70%;
  height: 250px;
}
.jumbotron-blog {
  background-image: url(/img/codeclubcover.jpg);
  background-position: 60% 70%;
  height: 250px;
}
.jumbotron-blog h2 {
  padding-top: 25px;
  text-align: center;
  margin-top: 10px;
  font-family: $base-font-family;
  font-size: $base-font-size * 2;
  color: white;
}
.jumbotron-banner h4 {
  text-align: center;
  font-family: $base-font-family;
  font-size: $base-font-size;  
  color: darken(white, 12.5%);
}
// Jumbotron heading
.jumbotron-banner h2 {
  padding-top: 25px;
  text-align: center;
	margin-top: 10px;
	font-family: $base-font-family;
	font-size: $base-font-size * 2;
	color: white;
}

// Jumbotron tagline
.jumbotron-banner h4 {
  text-align: center;
	font-family: $base-font-family;
	font-size: $base-font-size;  
	color: darken(white, 12.5%);
}

/* Landing page settings */

// Button for joining mailing list
.mail-btn {
   text-align: center;
}

// Button settings
.btn-mail {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: $base-font-family;
  font-size: 18px;
}
.btn-mail:hover,
.btn-mail:active {
  background-color: white;
  color: #37717d;
  font-family: $base-font-family;
  font-size: 18px;
}
.inner-cover {
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

// Landing page message
.cover-heading {
  padding-top: 50px;
  padding-bottom: 10px;
  color: white;
  font-family: $base-font-family;
  font-size: 60px;
}
// Landing page associate text
.lead-cover {
  padding-left: 60px;
  padding-right: 60px;
  color: #ccd7d7;
  font-family: $base-font-family;
  font-size: 24px;
}

// Mastfoot settings
.mastfoot > .inner {
  text-align: center;
  padding-top: 100px;
}
.mastfoot > .inner > p > a {   
  font-family: $base-font-family;
  color: white;
}
.mastfoot > .inner > p {
  color: #ccd7d7;
  font-family: $base-font-family;
}

/* News list settings */
.news-list {
  max-width: 800px;
}
.news-list h2 {
  font-family: $head-font-family;
  font-size: $base-font-size * 1.4;
  color: $turquoise;
  padding: 7px;
  text-align: center;
  margin-top: 10px;
  width: 80px;
  margin-right: auto;
  margin-left: 127px;
}
.news-list h3 {
  font-family: $base-font-family;
  font-size: 25px;
  color: lighten($turquoise, 5%);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 142px;
  margin-top: 10px;
}
.news-container {
  padding-bottom: 40px;
}
.post-container {
  font-size: 18px;
  font-family: $base-font-family;
}
.post-content {
  margin-top: 50px;
  max-width: 800px;
}
.news-container a {
  color: darken($turquoise, 5%);
}
.news-date {
  font-family: $base-font-family;
  color: darken(white, 50%);
  font-size: 14px;
  padding-bottom: 10px;
}
code {
  color: darken($turquoise, 12.5%);
  background: none;
}
.blogs-list {
  max-width: 600px;
}
.blogs-list a {
  text-decoration: none !important;
}
.blogs-list h2 {
  font-family: $head-font-family;
  font-size: $base-font-size * 1.4;
  color: $turquoise;
  padding: 7px;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  width: 80px;
}
.blogs-list h3 {
  font-family: $base-font-family;
  font-size: 18px;
  color: lighten($turquoise, 5%);
  margin-top: 10px;
}
.blogs-list h3:hover,
.blogs-list h3:focus {
  color: $turquoise-dark;
}
.blogs-date {
  font-family: $base-font-family;
  color: darken(white, 50%);
  font-size: 14px;
  text-align: right;
  margin-top: 13px;
}

@media screen and (max-width: 980px) {
  .news-list h3 {
    margin-left: 15px;
    padding-bottom: 0px;
  }
  .news-list h2 {
    margin-left: 0px;
  }
  .news-date {
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .post-content .news-date {
    padding-left: 0px;
  }
  .blogs-date {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .blog-list h2 {
    padding-left: 0px;
  }
}