---
layout: default
---
<div class="jumbotron jumbotron-banner">
    <div class="container">

        <h2>{{ page.title }}</h2>

        <p><h4>{{ page.author }}</h4></p>
    </div>
</div>
<div class="container post-content">
      <div class="col-md-2">
        <div class="date news-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="padding-right: 0.5em"></span>{{ page.date | date: "%b %-d, %Y" }}</div>
      </div>
      <div class="col-md-10 post-container">
        {{ page.content }}
      </div>
    </div>